/* Global styles */
h1{
  text-align: center;
}

p{
  text-align: justify;
}

.photo-gallery {
  display: grid;
  gap: 10px;
}

.photo {
  /* background-color: #fff; */
  padding: 10px;
  text-align: center;
}

.photo img {
  width: 100%;
  height: auto;
  border: 5px solid #000000;
}

.photo figcaption {
  font-size: 20px;
  color: #000000;
  border: #000000;
  /* background-color: #000000; */
  display: block;
  position: relative;
  /* margin-top: 5px; */
}

figure {
  position: relative;
}


/* Tablet view (772px - 991px) */
@media (min-width: 772px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo img {
    border-radius: 50%;
  }

  .photo:last-child {
    grid-column: 1 / span 2;
  }
}

html {
  scroll-behavior: smooth;
}

#back-to-top {
  position: static;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 10px;
  transition-duration: 10s;
}

/* Reduced motion styles for users who prefer reduced animation */
@media (prefers-reduced-motion) {
  #back-to-top {
    animation: none;
    transition: none;
  }
}


/* Large screen view (992px+) */
@media (min-width: 992px) {
  .photo img {
    border-radius: 0;
  }

  .photo:nth-child(3n) {
    grid-column: 1 / span 2;
  }
}

/* Dark color scheme */
@media (prefers-color-scheme: dark) {
  .photo {
    /* background-color: #222; */
    color: #fff;
    border-color: black;
  }
  .figcaption {
    background-color: #000000;
  }
}

/* Reduced motion */
@media (prefers-reduced-motion) {
  .photo-gallery {
    scroll-behavior: none;
  }
}
